body {
    text-align: center;
    font-family: Open Sans, sans-serif;
    background-color: #8A71C9;
    color:#ffffff;
}

h2 {
    color: #2A0074;;
}

.titulo-verde {
    color: #04ff9f;
}

.titulo-vermelho{
  color:#FF9E9E;
}

#titulo-amarelo{
  color:#ffe36d;
}